.basic-admin-page {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 254, 254), rgb(94, 94, 94));
  }
 