<div class="form-container">
  <h2 *ngIf="edit == 'new'">New Product</h2>
  <h2 *ngIf="edit == 'edit'">
    Edit the following product: <strong>{{ product?.productName }}</strong>
  </h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="label" hintLabel="Max 50 caracters">
      <mat-label class="label">Product Name</mat-label>
      <input
        spellcheck="false"
        autocomplete="off"
        matInput
        type="text"
        id="productName"
        formControlName="productName"
        placeholder="Xiaomi Mi 9"
        #name
      />
      <mat-hint align="end">{{ name.value.length }}/50</mat-hint>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label class="label">Price</mat-label>
      <input
        spellcheck="false"
        autocomplete="off"
        matInput
        type="number"
        id="price"
        formControlName="price"
        placeholder="1500"
      />
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="label" hintLabel="Max 300 caracters">
      <mat-label class="label">Description</mat-label>
      <textarea
        spellcheck="false"
        autocomplete="off"
        matInput
        type="text"
        id="description"
        formControlName="description"
        placeholder="This product is....."
        #desc
      ></textarea>
      <mat-hint align="end">{{ desc.value.length }}/300</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="label">Tags</mat-label>
      <select
        matNativeControl
        id="selectTags"
        name="selectTag"
        formControlName="tags"
        multiple
      >
        <option *ngFor="let tag of tags" [ngValue]="tag.tagName">
          {{ tag.tagName }}
        </option>
      </select>
    </mat-form-field>

    <div class="btn-container">
      <button mat-button mat-dialog-close class="add-btn" type="button">
        Cancel
      </button>
      <button
        style="background-color: rgb(231, 78, 78)"
        class="add-btn"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
