img{
    display: block;
    float: left;
}
div{
    margin: auto;
    width: 1800px;
    height: 900px;
    border: solid 1px black;
}   
table{
    
    margin: auto;
    margin-top: 100px;
    width: 900px;
    height: 500px;
}
