ul {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    width: 20rem;
    height: 25rem;
    border:  1px solid rgb(128, 0, 128);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #bb00cc;
    background: rgba(0, 0, 0, 0.75);
}
ul li{
    margin-bottom: 15px;
    max-width: 100%;
    max-height: 65%;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: .5rem 1rem;
    position: relative;
    font-size: medium;
    display: flex;
    justify-content: space-between;

}
.price{
    padding-top: .7rem;
    float: left;
}
.name{
    float: right;
}

img{
  width: 320px;
  height: 320px;
}
 mat-card-content{
   background: transparent;
 }


