<div class="wrapper">
    <div class="update-form">
        <div class="form-group">
            <input type="name"/>
            <label for="name">Name</label>
        </div>
    </div>
    <div class="purchases">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <!--
                <tr *ngFor="let purchase of purchases">
                    <td>{{ purchase.productName }}</td>
                    <td>{{ purchase.price }}</td>
                    <td><button type="button">Delete</button></td>
                </tr>-->
            </tbody>
        </table>

    </div>
</div>